[run]
source = .
include = backend/server.py
omit =
    backend/tests/*

[report]
precision = 1
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
